<div class="post-actions">

  <%= render partial: 'likes/like',
    locals: {
      post: post,
      action_prefix: action_prefix } %>

  <%= render partial: 'shared_posts/shared_post_button',
    locals: {
      post: post,
      action_prefix: action_prefix }%>

  <%= render partial: 'comments/comment-button', locals: { post: post } %>
</div>
