<div class="post-actions">
  <%= render partial: 'likes/like', locals: { post: post } %>
  <%= render partial: 'shared_posts/shared_post_button', locals: {post: post }%>
  <%= render partial: 'posts/components/comment-button', locals: { post: post } %>
</div>
