<div class="post-content">
  <p><%= post.content %></p>
  <% if post.images.attached? %>
    <% post.images.each do |image| %>
      <%= image_tag image, class: "post-image" %>
    <% end %>
  <% end %>
</div>
