

<%= turbo_frame_tag "follow_button_#{user.id}_#{componet_id}" do %>
  
  <!-- validate if user is present -->
  <% if local_assigns[:user].present? %>
    
    <!-- validate if size is present -->
    <% size = "md" unless local_assigns[:size].present?%>
    
    <% if current_user.follows?(user) %>
      <%= 
        link_to "Unfollow",
        follow_path(id: user.id, size: size),
        class: "follow-button unfollow-aparence follow-button-size-#{size}",
        remote: true,
        data: { turbo_method: :delete }
      %>
    <% else %>
      <%= 
        link_to "Follow",
        follows_path(id: user.id, size: size),
        class: "follow-button follow-aparence follow-button-size-#{size}",
        remote: true,
        data: { turbo_method: :post }
      %>
    <% end %>
  <% else %>
    <p>no user provided</p>
  <% end %>
<% end %>