<div class="side-bar">
  <div class="content">
    <div class="side-bar-menu">

      <div class="logo mb-1">
        <h1>Towgt</h1>
      </div>

      <%= render partial: 'components/side-bar-buttons' %>
      
    </div>
    <div class="side-bar-buttons">
      <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "icon-link" do %>
        <div>
          <i class="fas fa-arrow-right-from-bracket"></i>
        </div>
      <% end %>
    </div>
  </div>
</div>
