<div class="user-header">
  <%= link_to root_path, class: "icon-link" do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <div>
    <div class="user-header-name">
      <%= user.name %>
    </div>
    <div class="user-header-post-number">
      <%= user.posts_number %> post
    </div>
  </div>
</div>
