<div class="content-navigation">
  <%= link_to user_followings_path, class: ["tab-container", follows_context ? "" : "active-tab"] do %>
    <div class="tab">
      <p>Following</p>
      <% unless follows_context %>
        <div class="indicator"></div>
      <% end %>
    </div>
  <% end %>
  <%= link_to user_followers_path, class: ["tab-container", follows_context ? "active-tab" : ""] do %>
    <div class="tab">
      <p>Followers</p>
      <% if follows_context %>
        <div class="indicator"></div>
      <% end %>
    </div>
  <% end %>
</div>
<% if items_lits.blank? %>
  <div class="empty-list">
    <h2>
      <%= follows_context ? "No followers yet" : "No followings yet" %>
    </h2>
  </div>
<% else %>
  <div class="follow-list">
    <% items_lits.each do |item| %>
      <%= render partial: 'follows/user-suggestion', locals: { user: item, size: "md",componet_id: "modal"} %>
    <% end %>
  </div>
<% end %>