<%= turbo_frame_tag "comment_modal" do %>

  <div class="modal-new-post">
    <div class="modal-new-post-content">
      <%= link_to "X", class: "close-button" %>

      <%= render partial: "posts/parent",
        locals: {
          post: @parent,
          is_parent_of_comment: true
        } %>

      <%= render partial: "posts/new/form",
        locals: {
          post: @post,
          is_parent_of_comment: true } %>

    </div>
  </div>

<% end %>
