.container-full {
  background-color: $colorBlack;
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  position: fixed;
  width: 100vw;
}

.container{
  height: 100%;
  overflow-y: scroll;
  width: 100%;
}

.content-column {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.side-bar {
  padding-right: 2rem;
  color: $colorWhite;
  display: flex;
  align-items: end;
  flex-direction: column;
  padding-bottom: 1rem;

  ul{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    width: 100%;

    a{
      text-decoration: none;
    }
  }
  li{
    align-items: center;
    display: flex;
    height: 3rem;
    justify-content: center;
    margin: 0 1rem;

    &:hover{
      background-color: #181818;
      border-radius: 100px;
    }

    i{
      font-size: 1.3rem;
    }
  }

  .bottom-content{
    width: 100%;
  }

  .content{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;

    
  }
}

.header-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  height: 3rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5;
  .header {
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.266);
    height: 100%;
    width: 100%;
    h1{
      margin-left: 1rem;
    }
  }

  .search {
    align-items: center;
    background: $colorBlack;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
    .search-bar{
      align-items: center;
      background-color: #202327;
      border-radius: 20px;
      display: flex;
      height: 80%;
      width: 90%;

      i{
        color: #757575;
        margin-left: 1rem;
        margin-right: .5rem;
      }

      input{
        background-color: transparent;
        border: none;
        margin-right: 1rem;
        width: 100%;
      }

      input:focus{
        outline: none;
      }
    }
  }
}

/* Columna de Tweets */
.main-column {
  color: $colorWhite;
  height: 100%;
  overflow-y: scroll;
  width: 100%;
}

// @media (max-width: 768px) {
//   .container {
//     flex-direction: column;
//   }

//   .actions-column {
//     border-right: none;
//     // padding: 0;
//     width: 100%;
//   }

//   .tweets-column {
//     width: 100%;
//   }
// }