.login-view {
  background-color: #242D34;
  display: grid;
  height: 100vh;
  overflow: hidden;
  place-items: center;
  width: 100vw;

  .login-modal-form {
    background-color: $colorBlack;
    border-radius: 16px;
    height: 650px;
    max-height: 90vh;
    max-width: 80vw;
    min-height: 400px;
    min-width: 600px;
    overflow: auto;
    position: relative;

    .header {
      align-items: center;
      background-color: $colorBlack;
      display: flex;
      height: 3.4rem;
      justify-content: center;
      position: sticky;
      top: 0;
      width: 100%;

      .close-button {
        left: 1rem;
        position: absolute;
      }
    }
    
    .body-wraper{
      display: flex;
      justify-content: center;
      width: 100%;

      .body {
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        margin: 1rem;
        width: 300px;
        
        .title {
          font-size: 2rem;
        }
  
        form {
          display: flex;
          flex-direction: column;
          gap: .3rem;
  
          label {
            font-size: 1.2rem;
          }
        }
  
        .error-message {
          color: $colorRed;
          font-size: 1.2rem;
        }
  
        .submit {
          background-color: $colorWhite;
          border: none;
          border-radius: 2rem;
          color: $colorBlack;
          cursor: pointer;
          font-size: 18px;
          font-weight: bold;
          height: 42px;
          margin-top: 1rem;
          width: 100%;
        }
  
        .button-block {
          align-items: center;
          color: $colorWhite;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
        }
  
        .button-outline {
          a {
            align-items: center;
            background-color: transparent;
            border-radius: 20px;
            color: $colorWhite;
            display: flex;
            height: 40px;
            justify-content: center;
            outline: solid 1px $colorWhite;
            text-decoration: none;
            width: 100%;
          }
        }
  
        .button-outline:hover {
          a {
            background-color: rgba(34, 136, 255, 0.1);
          }
        }
  
        .buttons-container{
          display: flex;
          flex-direction: column;
          gap: 1.3rem;
        }
  
        .links{
          font-size: .9rem;
          margin-top: 3rem;
          p{
            color: #585C60;
            a{
              color: $colorBlue;
              cursor: pointer;
            }
          }
        }
      }
    }

  }

  .alert {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 688px){
  .login-view{

    .login-modal-form {
      border-radius: 0;
      height: 100vh;
      max-height: none;
      max-width: none;
      min-height: auto;
      min-width: auto;
      width: 100vw;

      .body{
        margin: 1.5rem 0;
        width: 300px;
      }
    }
  }
}
