/* Styles for posts like Twitter posts */
.post {
  border: 5px solid $colorBorder;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 15px;
  position: relative;

  .post-image {
    border-radius: 10px;
    height: 50%;
    width: 50%;
  }

  .post-header {
    display: flex;
    align-items: start;
    gap: 20px;

    .post-avatar {
      border-radius: 50%;
      height: 50px;
      width: 50px;
    }

    .post-meta {
      color: #999;
      display: flex;
      flex-direction: column;
      font-size: 12px;
      margin-top: 5px;

      strong {
        color: $colorWhite;
        font-size: 18px;
      }
    }

    .post-delete {
      position: absolute;
      right: 15px;
      top: 15px;
    }
  }

  .post-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin: 10px 0;

    p {
      align-self: self-start;
    }
  }

  .post-actions {
    color: #999;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px;

    a {
      color: #999;
      margin-right: 10px;

      &:hover {
        color: #333;
      }
    }
  }
}


.post-container {
  margin: 20px;
}

.header {
  align-items: center;
  display: flex;

  h1 {
    font-size: 21px;
    font-weight: bold;
  }

  .header-back {
    color: #1da1f2;
    font-size: 18px;
    margin-right: 10px;
  }
}

.menu {
  background-color: black;
  border: 2px solid #999;
  border-radius: 5px;
  padding: 10px;
  z-index: 10;
  

  &__option {
    align-items: center;
    color: white;
    display: flex;
    padding: 5px;
  }
}

.delete-icon, .follow-icon {
  color: white;
  height: 20px;
  width: 20px;
}

.hidden {
  display: none;
}

.post-options {
  position: absolute;
  right: 0;
  top: 0;
}

.option-button {
  background-color: black;
  color: white;
  :hover {
    cursor: pointer;
  }
}
