/* Styles for posts like Twitter posts */
.post {
  border-radius: 10px;
  border: 5px solid $colorBorder;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 15px;
  position: relative;

  .post-image {
    border-radius: 10px;
    height: 50%;
    width: 50%;
  }
  
  .post-avatar {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }

  .post-header {
    align-items: center;
    display: flex;
    gap: 20px;

    .post-meta {
      align-items: center;
      color: #999;
      display: flex;
      font-size: 12px;
      gap: 5px;
      margin-top: 5px;

      .post-user-name {
        color: $colorWhite;
        font-size: 18px;
      }
    }

    .post-delete {
      position: absolute;
      right: 15px;
      top: 15px;
    }
  }

  .post-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-bottom: 10px;
    margin: 10px 0;

    p {
      align-self: self-start;
    }
  }

  .post-date {
    color: #999;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .post-actions {
    color: #999;
    display: flex;
    font-size: 17px;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 10px;

    .post-like {
      margin-right: 10px;

      &:hover {
        color: $colorLike;
      }
    }

    .post-liked {
      color: $colorLike;
    }

    a {
      color: #999;
      margin-right: 10px;

      &:hover {
        color: #333;
      }
    }
  }
}


.post-container {
  margin: 20px;
}

.header {
  align-items: center;
  display: flex;

  h1 {
    font-size: 21px;
    font-weight: bold;
  }

  .header-back {
    color: #1da1f2;
    font-size: 18px;
    margin-right: 10px;
  }
}

.parent-post-container {
  color: $colorWhite;
  display: flex;
  justify-content: center;
  padding-inline: 2rem;
  padding-top: 2rem;
}

.parent-post-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10%;

  .thread-line {
    border-left: 2px solid $colorGray;
    height: 100%;
    margin: 0 50%;
    width: 100%;
  }

}

.post-avatar-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.post-user-avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.parent-post-right {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-inline: 1rem;
  width: 80%;
}

.post-simple-meta {
  display: flex;
  gap: 8px;

  .post-user-name {
    font-weight: bold;
  }

  .post-user-username, .post-time{
    color: $colorGray;
  }
}
