.follow-suggestions {
  background: lighten($colorBlack, 4%);
  border: 1px solid $colorBorder;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;

  .title {
    padding: 1rem 1rem 0rem 1rem;
  }

}

.follow-user-suggestion {
  align-items:center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;

  &:hover {
    background: lighten($colorBlack, 6%);
  }

  .user-data {
    display: flex;
    flex-direction: column;
    width: 60%;

    .user-name {
      align-items: center;
      display: flex;
      font-weight: bold;
      font-weight: bold;
      gap: 0.2rem;
      margin-bottom: .3rem;
    }

    .user-username {
      color: $colorGray;
    }
  }

}

.modal-follows-suggestions-list {
  margin-top: 3rem;

}

.modal-followings-suggestions-content {
  background-color: $colorBlack;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-top: 10%;  
  max-height: 50%;
  overflow-y: scroll;
  padding: 1rem;
  width: 50%;
}

.modal-title-container {
  position: absolute;
}

.modal-scroll {
  height: cover;
  overflow-y: scroll;
}
