<% @user_profile.posts.each do |post| %>

  <%if post.class == Post %>
    <%= render partial: 'posts/post-simple', 
      locals: {
        view: nil, 
        post: post,
        is_parent_of_comment: false} %>

  <% else %>
    <%= render partial: 'shared_posts/shared_post',
      locals: {
        view: nil,
        repost: post } %>
        
  <% end %>

<% end %>


<% if @publications.page_number < @user_profile.posts.total_pages %>
  <div 
    class="button button-primary w100"
    data-controller="posts-loading"
    data-action="click->posts-loading#destroyButton">

    <%= link_to "Load more", user_path(@user_profile.user, tab: :posts, page: @publications.next_page) %>

  </div>

<% end %>
