<%= render partial: "posts/post-simple", 
  collection: @user_profile.comments, as: :post, 
  locals: {
    view: :index, 
    is_parent_of_comment: false } %>

<% if @publications.page_number < @user_profile.comments.total_pages %>
  <div 
    class="button button-primary w100"
    data-controller="posts-loading"
    data-action="click->posts-loading#destroyButton">

    <%= link_to "Load more", user_path(@user_profile.user, tab: :comments, page: @publications.next_page) %>

  </div>

<% end %>
