<%= render partial: "posts/post-simple",
  collection: @user_profile.liked_posts, as: :post,
  locals: { 
    view: nil,
    is_parent_of_comment: false } %>

<% if @publications.page_number < @user_profile.liked_posts.total_pages %>
  <div 
    class="button button-primary w100"
    data-controller="posts-loading"
    data-action="click->posts-loading#destroyButton">

    <%= link_to "Load more", user_path(username: @user_profile.user.username, tab: :likes, page: @publications.next_page) %>

  </div>

<% end %>
