<div class="post border-post">

  <div class="repost-header">
    <%= "@#{repost.user.username} reposted"%>
  </div>

  <%= render partial: 'posts/post-simple',
    locals: { 
      post: repost.post, 
      view: :index,
      is_parent_of_comment: false } %>
      
</div>
