<%= form_with(url: search_index_path, method: :get, class: "form-search") do |form| %>
  <div class="search">
    <%= form.text_field :query, data: { turbo_frame: "search-results" }, class: "input-search" %>

    <%= button_tag type: 'submit' do %>
      <i class="fas fa-search"></i>
    <% end %>
  </div>
<% end %>