<div 
  class="modal-new-post modal-followings-suggestions" 
  data-controller="modal" 
  data-modal-target="modal">

  <div class="modal-content">
    
    <div class="modal-header">
      <h2 class="title">Discover to follow</h2>
      <div class="modal-button-container">
        <button class="submit-button" data-action="click->modal#closeModal">Skip</button>
      </div>
    </div>

    <div class="modal-follows-suggestions-list modal-scroll">

      <%= turbo_frame_tag 'modal_users_suggestions_list' do %>
        <%= render partial: 'follows/modal-users-suggestions-list',
          locals: { firsts_to_follow: @user_suggestions.firsts_to_follow } %>
      <% end %>

    </div>

  </div>
</div>
