<div class="modal-new-post">
  <div class="modal-followings-suggestions-content">
    
    <div class="modal-title-container">
      <h2 class="title">Discover to follow</h2>
    </div>

    <div class="modal-follows-suggestions-list modal-scroll">

      <%= turbo_frame_tag 'modal_users_suggestions_list' do %>
        <%= render partial: 'follows/modal-users-suggestions-list',
          locals: { firsts_to_follow: @user_suggestions.firsts_to_follow } %>
      <% end %>

    </div>

  </div>
</div>
