<div class="modal-new-post">
  <div class="modal-followings-suggestions-content">
    
    <div class="modal-title-container">
      <h2 class="title">Discover to follow</h2>
    </div>

    <% followings_ids = Follow.where(follower_id: 1).pluck(:following_id) %>
    <% followings_ids.append(current_user.id) %>
    <!-- .order('RANDOM()') -->
    <% first_follows = User.where.not(id: followings_ids) %>

    <div class="modal-follows-suggestions-list modal-scroll">
      
      <% first_follows.each do |user| %>
        <%= render partial: 'follows/user-suggestion', locals: { user: user } %>
      <% end %>
    </div>

  </div>
</div>
