<div class="follow-suggestions">

  <% if @user_suggestions.to_follow.count.zero? %>
    <h2 class="title">You did it!</h2>
    <p class="title opaque-text">There's no one else to follow!</p>

  <% else %>

    <h2 class="title">Who to follow</h2>

    <% @user_suggestions.to_follow.each do |user| %>
      <%= render partial: 'follows/user-suggestion', locals: { user: user } %>
    <% end %>

  <% end %>

</div>
