<div class="menu-options hidden" data-menu-options-target="options">
  <% if current_user.id == post.user_id %>
    <div class="menu-option">
      <%= icon("fa-solid", "trash-can", class: "delete-icon")%>
      <%= link_to "Delete post", post_path(post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </div>
  <% end %>
  
  <% if current_user.id != post.user_id %>
    <div class="menu-option">
      <%= render partial: "follows/follow", locals: { following_user: post.user } %>
    </div>
  <% end %>
</div>
