<% if posts.any? %>

  <div class='post-container'>
    <%= turbo_frame_tag 'posts_list' do %>
      <%= render partial: 'posts/posts-list', locals: { posts: posts } %>
    <% end %>      
  </div>

<% else %>
  <%= render 'posts/no-posts' %>
<% end %>

