<% if @posts.any? %>

  <div class='post-container'>
    <% @posts.each do |element| %>
    
      <%if element.class == Post %>
        <%= render partial: 'posts/post-simple',
          locals: {
            view: :index,
            post: element,
            is_parent_of_comment: false } %>

      <%else%>
        <%= render partial: 'shared_posts/shared_post', locals: {view: :index, repost: element} %>
      <%end%>

    <%end%>
  </div>

<% else %>
  <p>There's no posts</p>
<% end %>
