<% if defined?(is_parent) && 
      is_parent && 
      post.parent.present? && 
      !post.parent.deleted && 
      !is_parent_of_comment %>
  <span class="top-thread-line-container">
    <span class="top-thread-line"></span>
  </span>
<% end %>

<div class="parent-post-left">

  <%= render partial: "posts/components/avatar", locals: { user: post.user } %>

  <% if defined?(is_parent) && is_parent && !is_parent_of_comment %>
    <span class="thread-line"></span>
  <% else %>
    <span class="space-thread-line"></span>
  <% end %>

</div>
