<div class="parent-post-left">

  <% if from_parent && post.parent.present? && !post.parent.deleted %>
    <span class="thread-line"></span>
  <% end %>

  <%= render partial: "posts/components/avatar" , locals: { avatar: post.user.avatar } %>

</div>
