<div class="parent-post-left">

  <% if defined?(is_parent) &&
        is_parent &&
        post.parent.present? &&
        !is_parent_of_comment && 
        !post.parent.deleted%>
    <span class="thread-line"></span>
  <% end %>

  <%= render partial: "posts/components/avatar",
  locals: { avatar: post.user.avatar } %>

</div>
