<div class='home-container'>
  <h1>Post</h1>
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <div class='post-container'>
        <%= render partial: 'posts/components/post', locals: { post: post, view: :index } %>
      </div>
    <% end %>
  <% else %>
    <p>No hay posts</p>
  <% end %>
  <%= link_to "Cerrar sesión", destroy_user_session_path, data: { turbo_method: :delete } %>
</div>
