<div class='home-container'>
  <div class="form-new-post-container">
    <%= render partial: "posts/new/form", locals: { post: @post } %>
  </div>

  <%= render partial: 'posts/posts_list' %>
  
  <%= link_to "Cerrar sesión", destroy_user_session_path, data: { turbo_method: :delete } %>
</div>
