<div class='home-container'>
  
  <%= render "posts/new/form" %>

  <% if @posts.any? %>
    <div class='post-container'>
      <%= render partial: 'post', collection: @posts, locals: {view: :index} %>
    </div>
  <% else %>
    <p>No hay posts</p>
  <% end %>
  
</div>