<div class='home-container'>
  
  <h1>Post</h1>
  <%= render "posts/new/form" %>

  <% if @posts.any? %>
    <div class='post-container'>
      <%= render partial: 'post', collection: @posts, locals: {view: :index} %>
    </div>
  <% else %>
    <p>No hay posts</p>
  <% end %>
  
  <%= link_to "Cerrar sesión", destroy_user_session_path, data: { turbo_method: :delete } %>
  
</div>