<div class='home-container'>
  <div class="form-new-post-container">
    <%= render partial: "posts/new/form", locals: { post: @post } %>
  </div>

  <%= render partial: 'posts/posts_list', locals: { posts: @publications.posts } %>
</div>
