<div class='header'>
  <%= link_to icon('fa-solid', 'arrow-left'), posts_path, class: 'header-back' %>
  <h1>Post</h1>
</div>
<div class='post-container'>
  <%= render partial: 'posts/components/post', locals: { post: @post, view: :show } %>
</div>