$colorBlueGray: #242D34;
$colorBlack: #000;
$colorBlackLight: #111;
$colorWhite: #fff;
$colorRed: #a22;
$colorLike: #e25;
$colorBlue: #29d;
$colorGray: #888;
$colorBorder: #2e3139;
$colorDarkMint: #23484B;
$colorDarkRed: #2a0a0a;
$colorEmptyBg: #333639;
$colorDarkBlue: #000b14;
