@import 
  "./sass/abstracts/colors",
  "./sass/posts",
  "./sass/registrations",
  "./sass/home",
  "font-awesome";

* {
  margin: 0;
  font-family: arial, sans-serif;
}

.hidden {
  display: none;
}
